if number
    if isPositiveInt
        h2 The result is: #{result}
    else 
        h2 Wrong Parameter
        p #{error}
else 
    h1 Lack of Parameter
    form(action="/getData")
        label Please enter a number: 
            input(type="text", name="number")
        button(type="submit") Enter
    br
    a(href="/") Return to Home

    